%h1 Listing entries

= paginate @entries

%table
  %tr
    %th Title
    %th Body
    %th Launch
    %th
    %th
    %th

  - @entries.each do |entry|
    %tr
      %td= entry.title
      %td= entry.body
      %td= entry.launch
      %td= link_to 'Show', entry
      %td= link_to 'Edit', edit_entry_path(entry)
      %td= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Entry', new_entry_path
